/* 
    Document   : css
    Created on : 17 oct. 2011, 14:53:46
    Author     : Adrien
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
body{
    background-image: url(bgc.png);
    background-repeat: repeat;
    text-align: center;
}
#global { 
    margin-left: auto; 
    margin-right: auto; 
    width: 988px;
    height: 985px;
    text-align: left;
    background-image: url(parchemin4.png);
    padding-top: 16px;
    padding-left: 12px;
}
.txt{
    float:left;
}
#phrase{
    clear: left;
    display: block;
    margin-top: 5px;
    margin-left: 18px;
    line-height: 25px;
    font-size: 23px;
    font-family: "Monotype Corsiva", "Palatino Linotype", Georgia, Times, "Times New Roman", serif;
}
#commandi{
    font-family: "Courier New", Courier, monospace;
    font-size: 13px;
    height: 22px;
    line-height: inherit;
    padding-top: 12px;
}
canvas { 
    float: left;
    text-align: center;
    margin-top: 0px;
    margin-right: 4px;
    margin-left: 18px;
}
#appli{
/*    clear: left;*/
}
#choix{
    width: 358px;
    float: left;
    margin-top: 0px;
}
#couleurs{
    display: block;
    margin-bottom: 5px;
}
#sculptures{
    margin-bottom: 0px;
}

.listesculpt img{
    height: 45px;
    margin-right: 15px;
    cursor:pointer;
    margin-top: 8px;
}
.listesculpt img.last{
    margin-right: 0px;
    padding-right: 0;
}
#listesculpt2 img.last.fleche{
    margin-right: 0px;
    padding-right: 0;
    height: 15px;
    margin-bottom: 15px;
}
#listesculpt2 img.first.fleche{
    margin-left: 8px;
    height: 15px;
    padding-right: 0;
    margin-bottom: 15px;
}
.listesculpt img.first{
    margin-left: 8px;
    padding-right: 0;
}
.listesculpt .sculsel{
    border-bottom: solid 3px;
    padding-bottom: 2px;
    margin-top: 3px;
}
#listevolets img{
    height: 40px;
    margin-right: 4px;
    padding: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    cursor: pointer;
}
#listevolets .voletsel{
    height: 40px;
    margin-right: 1px;
    padding: 2px;
    cursor: pointer;
    border: solid 1px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
#listecouleur .color{
    width: 25px;
    height: 25px;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    cursor:pointer;
}
#listecouleur .aucun{
    width: 23px;
    height: 23px;
    border: solid 1px black;
}
.colorselected{
    width: 27px;
    height: 27px;
    margin-right: 3px;
    margin-top: 3px;
    float:left;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor:pointer;
}
.colorselected.aucun{
    width: 29px;
    height: 29px;
    margin-right: 5px;
    margin-top: 5px;
    float:left;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor:pointer;
}
#listestyles .colorstyle{
    width: 25px;
    height: 25px;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    cursor:pointer;
}
#listestyles .colorstyle.aucun{
    margin-right: 10px;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
}
#listestyles .styleselect.aucun{
    margin-right: 10px;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
}
#preview{
    position:absolute;
    border:1px solid #ccc;
    background:#333;
    padding:3px;
    display:none;
    color:#fff;
}
p a.select{
    color:red;
}
#sculptures img{
    width: 20px;
    height: 20px;
}
#sculptures img.select{
    border:solid;
}
.button{
    display: inline-block;
    padding: 10px 0px 10px 10px;
    width: 300px;
    letter-spacing: 2px;
    line-height: 1;
    color: #690D0E;
    text-decoration: none;
    position: relative;
    cursor: default;
    font-size: 13px;
    font-weight: bold;
    font-family: Arial,Helvetica,sans-serif;
}
.buttonsh{

    display: inline-block;
    padding: 5px 5px 5px 5px;
    width: 26px;
    margin-top: 5px;
    letter-spacing: 2px;
    line-height: 1;
    color: #690D0E;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    border-color: #690D0E;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    font-family: verdana;
    text-align: center;
}
.buttonshsel{
    background: #690D0E repeat-x;
    display: inline-block;
    padding: 6px 6px 6px 6px;
    width: 26px;
    margin-top: 5px;
    letter-spacing: 2px;
    line-height: 1;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    font-family: verdana;
    text-align: center;
}
#styles{
    background-color: #7592BE;
}
.liste{
    padding-left: 4px;
    padding-top: 10px;
    margin-top: 3px;
    margin-bottom: 8px;
    width: 352px;
    height: 100px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #8E8F91;
}
#listecouleur{
    height: 34px;
    padding-top: 0;
}
#listevolets{
    height: 50px;
}
.listesculpt{
    height: 60px;
    display: block;
    padding-top: 0px;
    padding-left: 4px;
}
#listestyles{
    height: 34px;
    padding-top: 0;
}
.styleselect{
    width: 27px;
    height: 27px;
    margin-right: 3px;
    margin-top: 3px;
    float:left;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor:pointer;
}
#boxsculpt .annee{
    letter-spacing: 2px;
    line-height: 1;
    font-family: verdana;
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
}
#print{
    margin-left: 20px;
    margin-top: 25px;
    font-family: arial;
    font-size: 13px;
}
#print a{
    color: black;
}
#position p{
    display: inline;
}
