 /*
    Document   : css
    Created on : 17 oct. 2011, 14:53:46
    Author     : Adrien
    Description:
        Purpose of the stylesheet follows.
        Feuille de style pour l impression
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
body{
    text-align: center;
}
#global { 
    margin-left: auto; 
    margin-right: auto; 
    width: 1200px;
    height: auto;
    margin-top: 80px;
    text-align: center;
    font-family: "Monotype Corsiva", "Palatino Linotype", Georgia, Times, "Times New Roman", serif;
}
.txt{
    float:left;
}
#phrase{
    display: inline-block;
    font-size: 29px;
    text-align: center;
    margin-left: 0;
}
canvas { 
    text-align: center;
    margin-top: 50px;
    width: 900px;
    height: 675px;
/*    border: solid 2px black;*/
    margin-right: 0;
    margin-left: 0;
}
#appli{
    clear: left;
}
#choix{
    display: none;
}
#print{
    display: none;
    visibility: hidden;
}